# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**
- List Popular Languages for Data Science
- Commonly used libraries used by Data Scientists
- Development Environment Open Source Tools used in Data Science

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Matplotlib

| Data Science Tools |
| ------------------ |
| R studio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [25]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [31]:
# This will convert 200 minutes to hours by dividing by 60
hours = (200/60)
print (hours)

3.3333333333333335

## Author
Sarah Melhem